.adCard {
  width: 100%;
  height: auto;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 10px;
}

.adCard > h1 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 14px;
}

.adCard > p {
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 10px;
}

.adCard_buttons > button {
  width: auto;
  height: 30px;
  background: none;
  margin-right: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid;
}

.adCard_buttons > button:last-child {
  margin-right: 0;
}

.adCard_buttons > button > p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
